.form__meter {
    background: var(--meter-bg);
    appearance: none;
    border: 2px solid var(--meter-bg);
    border-radius: 4px;
    height: 22px;
    max-width: 100%;
    width: 100%;
}

.form__meter::-moz-meter-bar {
    background: var(--meter-fg);
}

.form__meter::-webkit-meter-bar {
    background: var(--meter-bg);
}

.form__meter::-webkit-meter-optimum-value {
    background: var(--meter-fg);
}
